html,body{
	height: 100%;
	width: 100%;
}

body{
	font-family: Raleway;
	color: #394247;
}

hr {
	border: 0;
	max-width: 350px;
	width: 100%;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(59, 87, 98, 0), rgba(59, 87, 98, 0.75), rgba(59, 87, 98, 0));
}

.section{
	height: auto;
	width: 100%;
}
#main{
	background: url("../image/background4.jpg");
	background-size: cover;
	height: 85%;
}
#content{
	padding-top: 15vmax;
	text-align: center;
	width: 100%;
}

h1{
	font-weight: 700;
	font-size: 4em;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

#subHead{
	font-size: 1.25em;
}
.btn, .btn-default, .btn-lg{
	background-color: rgba(57,66,71,0.8);
	border-color: rgba(57,66,71,0.8);
	color: white;
	font-size: 1em;
}

h2{
	font-size: 1.5em;
}
h3{
	font-size: 1.25em;
}
.fa-facebook-official, .fa-twitter, .fa-instagram, .fa-youtube, .fa-github, .fa-linkedin-square, .fa-google-plus-square{
	font-size: 6em;
	padding-bottom: 0.25em;
}
@media (min-width: 375px){
	h1{
		font-weight: 700;
		font-size: 5em;
		text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
	}

	#subHead{
		font-size: 1.5em;
	}
	.btn, .btn-default, .btn-lg{
		background-color: rgba(57,66,71,0.8);
		border-color: rgba(57,66,71,0.8);
		color: white;
		font-size: 1.25em;
	}

	h2{
		font-size: 2em;
	}
	h3{
		font-size: 1.75em;
	}
	.fa-facebook-official, .fa-twitter, .fa-instagram, .fa-youtube, .fa-github, .fa-linkedin-square, .fa-google-plus-square{
		font-size: 6em;
		padding-bottom: 0.25em;
	}
}
@media (min-width: 992px) {
  .fa-facebook-official, .fa-twitter, .fa-instagram, .fa-youtube, .fa-github, .fa-linkedin-square, .fa-google-plus-square{
  	font-size: 7em;
  	padding-bottom: 0.25em;
  }
}
@media (min-width: 1200px) {
  h1{
  	font-weight: 700;
  	font-size: 5.5em;
  	text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
  }

  #subHead{
  	font-size: 1.9em;
  }
  .btn, .btn-default, .btn-lg{
  	background-color: rgba(57,66,71,0.8);
  	border-color: rgba(57,66,71,0.8);
  	color: white;
  	font-size: 1.4em;
  }

  h2{
  	font-size: 2.20em;
  }
  h3{
  	font-size: 1.9em;
  }
  .fa-facebook-official, .fa-twitter, .fa-instagram, .fa-youtube, .fa-github, .fa-linkedin-square, .fa-google-plus-square{
  	font-size: 9.5em;
  	padding-bottom: 0.25em;
  }
}
@media (min-width: 2560px) {
  h1{
  	font-weight: 700;
  	font-size: 10em;
  	text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
  }

  #subHead{
  	font-size: 3em;
  }
  .btn, .btn-default, .btn-lg{
  	background-color: rgba(57,66,71,0.8);
  	border-color: rgba(57,66,71,0.8);
  	color: white;
  	font-size: 2.5em;
  }

  h2{
  	font-size: 4em;
  }
  h3{
  	font-size: 2.9em;
  }
  .fa-facebook-official, .fa-twitter, .fa-instagram, .fa-youtube, .fa-github, .fa-linkedin-square, .fa-google-plus-square{
  	font-size: 12em;
  	padding-bottom: 0.25em;
  }
}
.btn:hover, .btn:focus {
  background-color: #394247;
  color: white;
  border-color: #394247;
}

/*CSS for infinite cursor blink for typing-effect words*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*End*/
a:hover
{
	text-decoration: none;
}


.proHeader{
	text-align: center;
	padding: 4%;
}

.thumbnail img, .thumbnail iframe{
	min-height: 320px;
	height: 320px;
}

.centerAlign{
	text-align: center;
}
a{
	color: #394247;
}

.col-xs-6{
	text-align: center;
}

.fa-facebook-official:hover, .fa-facebook-official:active, .fa-facebook-official:focus{
	color: #3b5998;
}

.fa-twitter:hover, .fa-twitter:active, .fa-twitter:focus{
	color: #00aced;
}

.fa-instagram:hover, .fa-instagram:active, .fa-instagram:focus{
	color: #125688;
}

.fa-github:hover, .fa-github:active, .fa-github:focus{
	color: #000000;
}

.fa-google-plus-square:hover, .fa-google-plus-square:active, .fa-google-plus-square:focus{
	color: #dd4b39;
}

.fa-linkedin-square:hover, .fa-linkedin-square:active, .fa-linkedin-square:focus{
	color: #007bb5;
}



#two{
	background-image:
	    radial-gradient(
	      rgba(255,255,0,0.55),
	      rgba(240,109,6,0.75)
	    );
}
#socialRow{
	padding-top: 4%;
	/*padding-bottom: 200px;*/
}

.container{
	padding-bottom: 4%;
}
.h2, h2{
	text-align: center;
}

#temple{
	padding-top: 4%;
	text-align: center;
}
#footer{
	text-align: center;
	color: rgba(57,66,71,0.8);
}
#map{
	text-align:center;
	color:#7f0329;
	padding-bottom: 2%;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */

#googlemap {
    pointer-events:none;
}
