body{
  background: #005C97;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Raleway', sans-serif;
}
h1, h2{
  font-weight: 400;
  text-align: center;
}

h1{
	font-weight: 700;
	font-size: 4em;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
  color: #458D9B;
}
#head{
  min-width: 500px;
  text-align: center;
}

img{
  height: 100px;
  width: 100px;
  border-radius: 20px;
}

.body{
  margin: 0px auto;
  height: 600px;
  width: 1000px;
}

.options{
  border: 2px dashed #458D9B;
  width: 200px;
  display: inline-block;
  float: right;
  height: 500px;
  border-radius: 30px;
  margin-right: 100px;
}
#answer{
  background-color: red;
  float: left;
  width: 400px;
  height: 400px;
  margin: 50px;
  border: 2px dashed #458D9B;
  position: relative;
  transition: all .4s;
  margin-left: 120px;
  border-radius: 50px;
}

#answer img{
  padding: 100px;
  height: 300px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0px 0px -250px;
  border-radius: 120px;
}

.bigBox{
  margin: 0px 50px;
  width: 900px;
  height: 500px;
  padding: 10px;
  border: 3px solid #458D9B;
  display: inline-block;
  padding: 0px auto;
}

.options img{
  padding: 10px;
  display: block;
  margin: auto;

}

.options img:hover{
  cursor: pointer;
}

.q{
  color: #458D9B;
  font-size: 10px;
}
.header{
  display: inline-block;
}

.button{
    position: relative;
    margin-top: 10px;
}

#btn-submit{
    margin: 0px 30px;
    position:relative;
    top:50%;
    left:50%;
}
#btn-reset{
    margin: -20px -280px;
    position:relative;
    top:50%;
    left:50%;
}

button {
	display: inline-block;
	color: #FFF;
	background-color: #699DB6;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
	border-color: rgba(0,0,0,0.3);
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  display: inline-block;
}
	button:hover {
		background-color: #4F87A2;
		border-color: rgba(0,0,0,0.5);
    cursor: pointer;
	}

	button:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}
